.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .nav-link:hover {
    color:rgba(149, 149, 15, 0.781);

  }

  .avatar{
    width: 40px
  }

  .main-img{
    max-width:600px;
  }

  .mini-img{
    max-width:140px;
  }
  
  .button-add{
    color: white;
  }