.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .nav-link:hover {
    color:rgba(149, 149, 15, 0.781);

  }

  .avatar{
    width: 40px
  }

  .main-img{
    max-width: 48,75 rem;
  }

  .sub-img{
    max-width: 9,37 rem;
  }